@{
    this.ViewData["Title"] = "The requested page cannot be found";
}

<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-12">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white">You do not have access to the targeted page.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 pt-md-5">
    <div class="container  text-center">
      <span class="font-size-22 text-danger">You do not have access to the targeted page.</span>
      
  
    </div>
  </section>