@{
    this.ViewData["Title"] = "The requested page cannot be found";
}

<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-6">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white">Page could not be found!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-0 pt-md-0">
    <div class="container">
      
      <img src="~/assets/img/404error.jpg" alt="Oh snap! The cat ate your file again" class="mx-auto d-block img-fluid"/>
  
    </div>
  </section>