@using Charterio.Global
@{
    this.ViewData["Title"] = GlobalConstants.Error404Message;
}

<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-6">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-uppercase text-white font-weight-bold">@GlobalConstants.Error404Message</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-0 pt-md-0">
    <div class="container text-center">
      <h3 class="pt-2">Ups. Something is wrong.</h3>
      <img src="https://res.cloudinary.com/charterio/image/upload/v1647357788/assets/404error_rcookk.jpg" alt="Oh snap! The cat ate your file again" class="mx-auto d-block img-fluid"/>
      <p>You can get back to our <a href="https://charterio.com/">homepage</a>, check our flights <a href="https://charterio.com/schedule">schedule</a> or send us some message at our 
          <a href="https://charterio.com/contacts">contacts</a> page.</p>
    </div>
  </section>