@using Charterio.Web.ViewModels.Contacts
@model ContactsViewModel
@{
    this.ViewData["Title"] = $"Contact information";
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-uppercase text-white font-weight-bold">Contact us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-9 pt-md-10">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="contact-info pb-3">
          <h2 class="text-uppercase font-weight-bold">get in touch</h2>          
        </div>

        <div class="media mb-4">
          <a href="https://github.com/nkrastev/Charterio" target="_blank" class="icon-contact-default bg-primary text-white me-5">
            <i class="fab fa-github" aria-hidden="true"></i>
          </a>
        
          <div class="media-body">
            <h4 class="text-uppercase font-weight-medium">Address in Github</h4>
            <p class="mb-0"><a href="https://github.com/nkrastev/Charterio" target="_blank">https://github.com/nkrastev/Charterio</a></p>
          </div>
        </div>        

        <div class="media mb-6 mb-md-0">
          <a class="icon-contact-default bg-primary text-white me-5">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        
          <div class="media-body">
            <h4 class="text-uppercase font-weight-medium">Email us</h4>
            <div class="">
              <a href="mailto:info@charterio.com" class="text-gray-color hover-text-primary">info@charterio.com</a>
            </div>
        
           
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-xl-6">
        <div asp-validation-summary="All" class="text-center"></div>
        <form method="POST" role="form" class="form" asp-controller="Contacts" asp-action="Index">
          <div class="form-group">            
            <input type="text" class="form-control border-0 bg-smoke" asp-for="Name" placeholder="Your Name">
            <span asp-validation-for="Name" class="badge bg-danger"></span><br />
          </div>

          <div class="form-group">
            <input type="email" class="form-control border-0 bg-smoke" asp-for="Email" placeholder="Your Email">
            <span asp-validation-for="Email"  class="badge bg-danger"></span><br />
          </div>

          <div class="form-group">
            <input type="number" class="form-control border-0 bg-smoke" asp-for="Phone" placeholder="Your Phone">
            <span asp-validation-for="Phone"  class="badge bg-danger"></span><br />
          </div>

          <div class="form-group">
            <textarea class="form-control border-0 bg-smoke" rows="6" asp-for="Message" placeholder="Your Message"></textarea>
            <span asp-validation-for="Message"  class="badge bg-danger"></span><br />
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary text-uppercase">send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="" id="map" style="width:100%; height:555px;"></div>
</section>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCWL-hJ_N44PaJ7aTs2YZyD5KBSYAR1BIc'></script>