<div class="col-md-6 col-lg-6 col-xl-3">
    <a asp-page="./Index" class="btn btn-primary btn-sm mb-1 w-100">My Tickets</a>
    <a asp-page="./ChangePassword" class="btn btn-primary btn-sm mb-1 w-100">Password</a>
    <a asp-page="./PersonalData" class="btn btn-primary btn-sm mb-1 w-100">Personal data</a>
</div>