@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}





<section class="py-9 pt-md-5">
    <div class="container">
        <div class="row">
            <partial name="_ProfileMenuPartitial" />

            <div class="col-md-6 col-lg-6 col-xl-9">

                <div class="row text-center">
                    <p>
                        <h3>@ViewData["Title"]</h3>
                        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                    </p>
                </div>
                <form id="delete-user" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (Model.RequirePassword)
                    {
                        <div class="form-floating">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    }
                    <br/>
                    <button class="w-100 btn btn-lg btn-danger" type="submit">Delete data and close my account</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}