@using Charterio.Web.ViewModels.Booking

@{
    this.ViewData["Title"] = $"Booking (Confirm details)";
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-12">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-uppercase text-white font-weight-bold">Booking ( Confirm details and Pay )</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-9 pt-md-5">
    <div class="container">        
        <div class="row pb-3">
            <div class="col-md-4 font-size-15">
                Customer details:
            </div>
            <div class="col-md-8 font-size-15">
                 Ivan Ivanov, email: test@test.com, phone: 08741111111
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-4 font-size-15">
                Ticket details:
            </div>
            <div class="col-md-8 font-size-15">
                JVOC-8P2W-00004
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-4 font-size-15">
                Flight details:
            </div>
            <div class="col-md-8 font-size-15">
                From: London<br />
                To: Paris<br />
                Departure: 11/11/2021 06:12 Local time<br />
                Arrival: 11/11/2021 06:12 Local time
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 font-size-15">
                Passengers details:
            </div>
            <div class="col-md-8 font-size-15">
                1. Mr. Ivan Ivanov<br />
                2. Mr. Petar Petrov
            </div>
        </div>
        <hr />
         <div class="row">
            <div class="col-md-6">
                <button>Pay with Paypal</button>
            </div>
            <div class="col-md-6">
                <button>Pay with Stripe</button>
            </div>
        </div>
    </div>
</section>


