@using Charterio.Global
@using Charterio.Web.ViewModels.Ticket

@{
    this.ViewData["Title"] = $"Your payment has been cancelled";
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-uppercase text-white font-weight-bold">Your Payment has been cancelled</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-9 pt-md-6">
    <div class="container">
        <div class="row text-center">
            <p>Unfortunatelly your payment has been failed and your ticket request cancel. You can always try to rebook with another card or payment method.</p>
        </div>
    </div>
</section>