@using Charterio.Common
@using Charterio.Web.ViewModels.Ticket

@{
    this.ViewData["Title"] = $"Thank you for your order";
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-uppercase text-white font-weight-bold">Successful payment</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>