@using Charterio.Web.ViewModels.Administration.Company
@model List<CompanyViewModel>
@{
    this.ViewData["Title"] = "Administration / Company";
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white text-uppercase font-weight-bold">@this.ViewData["Title"]</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-9 pt-md-5">
    <div class="container">
        <partial name="_AdminMenu" />
        <div class="text-center"><a asp-action="Add" class="btn btn-outline-secondary mb-2">Add New Company</a></div>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>                        
                        <th scope="col"></th>                        
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>                            
                            <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
