@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white text-uppercase font-weight-bold">@ViewData["Title"]</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-9 pt-md-5">
    <div class="container">                
        <p class="text-danger">You do not have access to this resource.</p>        
    </div>
</section>
