<div class="container pt-5 pb-5">
    <div class="text-center section-title">
        <h2 class="text-uppercase font-weight-bold position-relative">
            <span class="bg-white">
                Overview of the project
            </span>
        </h2>
    </div>
    <div class="row justify-content-center">
        <p>A charter flight is a flight that is not part of an airline's published schedule. For example, an airline will not post on its website that the airline will operate a flight from Point A to Point B at 3pm every Wednesday. Instead, charter flights are typically operated for specific unscheduled itineraries.</p>
        <p>Statistics: 50 of the biggest airports in Europe has processed for @DateTime.Now.Year-1 561 273 838 passengers from which over 28 000 000 charter ones.</p>
        <p>Purpose: The project provides the charterer company free and easy solution for selling charter flight tickets to direct customers.</p>
        <p>Technologies and requirements: The project uses ASP.Net Core with combination of Entity Framework and JS libraries, Bootstrap is used for visualization of the template. The project has integration with:</p>
        <p class="text-center logosIntegration">
            <img src="~/assets/img/logo-sendgrid.png" alt="SendGrid" />
            <img src="~/assets/img/logo-mailchimp.png" alt="MailChimp" />
            <img src="~/assets/img/logo-stripe.png" alt="Stripe" />
            <img src="~/assets/img/logo-braintree.png" alt="Braintree" />
            <img src="~/assets/img/logo-uptime.png" alt="Uptime Robots" />
        </p>
        <p>Project runs on Windows Hosting with combination of MSSQL server, but easily can be refactored to run on other platforms.</p>
        <p>User options: Anonymous users can browse search and view details of all available flights. In order to purchase a flight ticket, user need to go through quick registration process. After successful creation of user account, the registered user obtains the option to purchase chosen tickets which will be send to them via email and also will be visible in their private accounts.</p>
        <p>Administrator options: Administrator is able to create and update, flights, planes and offers. Administrator has the option to answer to the users questions via the app. The answers are also send to the users via email.</p>
        <h3 class="text-center">System Uptime <b>@ViewBag.Uptime %</b></h3>
    </div>
</div>