<div class="container pt-5 pb-5">
    <div class="text-center section-title">
        <h2 class="text-uppercase font-weight-bold position-relative">
            <span class="bg-white">
                Overview of the project
            </span>
        </h2>
    </div>
    <div class="row justify-content-center">
        <p>Purpose: The main purpose of the project is defending C# knowledge during the route to C# Web Developer title. On the second but not the last place is the need of free application for the small charter companies, which need to sell their tickets to the direct customers. </p>
        <p>Technologies and requirements: The project uses ASP.Net Core with combination of Entity Framework and JS libraries, Bootstrap is used for visualization of the template. The project has integration with:</p>
        <p class="text-center">Sendgrid / Mailchimp / Stripe</p>
        <p>Project runs on Windows Hosting with combination of MSSQL server, but easily can be transformed to run on other platforms.</p>
        <p>User options: Anonymous users can browse search and view details of all available flights. In order to purchase a flight ticket, user need to go through quick registration process. After successful creation of user account, the registered user obtains the option to purchase chosen tickets which will be send to them via email and also will be visible in their private accounts.</p>
        <p>Administrator options: Administrator is able to create, update and delete airports, flights, planes and offers. Administrator has the option to turn on and off the provided payment gateways. Administrator has the option to answer to the users questions via the app. The answers are also send to the users via email.</p>
    </div>
</div>