<div class="reviewHeight">
  <div class="container  pt-7 pb-7 mb-5">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-12">
        <div class="content mb-7">
          <h4 class="text-uppercase text-white mb-2">Client Reviews</h4>
          <h2 class="text-uppercase text-white font-weight-bold">What our customers say about us?</h2>
        </div>
        <ul class="list-unstyled icon-rating d-flex justify-content-center text-warning mb-1">
          <li class="me-1">
            <i class="fa fa-star" aria-hidden="true"></i>
          </li>
          <li class="me-1">
            <i class="fa fa-star" aria-hidden="true"></i>
          </li>
          <li class="me-1">
            <i class="fa fa-star" aria-hidden="true"></i>
          </li>
          <li class="me-1">
            <i class="fa fa-star" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-star" aria-hidden="true"></i>
          </li>
        </ul>		
        <h4 class="text-white">John Dow: Wonderful service. Quick, easy and reliable.</h4>
        <a href="https://g.page/r/CT0HexxRJ7hBEAg/review" target="_blank" class="btn btn-primary text-uppercase mt-3">View All Reviews</a>
      </div>
    </div>			
  </div>
</div>
