@model SearchFlightInputModel
@using Charterio.Common
@using Charterio.Web.ViewModels.Search
@{
    this.ViewData["Title"] = $"Flights from {Model.StartApt} to {Model.EndApt}";
}
<section class="page-title">
  <div class="page-title-img bg-img bg-overlay-darken">
    <div class="container">
      <div class="row align-items-center justify-content-center height100px">
        <div class="col-lg-6">
          <div class="page-title-content">
            <div class="title-border">
              <h1 class="text-uppercase text-white font-weight-bold">Flights from @Model.StartApt to @Model.EndApt</h1>
              <div asp-validation-summary="All"></div>
            </div>
            <p class="text-white mb-0"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-8 py-md-10">
  <div class="container">
    <div class="text-center border-bottom pb-6 mb-7">
      <p class="text-capitalize line-height-24 h4 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p class="">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
      perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
      quae ab illo inventore veritatis</p>
    </div>
  </div>
</section>
